<%= form_with(model: board, local: true) do |form| %>
  <% if board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
        <% board.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_area :descricao, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.select :color, [%w(Azul primary),
                                %w(Vermelho danger),
                                %w(Cinza secondary),
                                %w(Verde success),
                                %w(Amarelho warning),
                                %w(Branco light),
                                %w(Preto dark)],
    {},{class: "form-control"}
    %>
  </div>

<!--  <div class="field">-->
    <%#= form.label :user_id %>
    <%#= form.text_field :user_id %>
<!--  </div>-->

  <div class="actions">
    <%= form.submit 'Criar Board', class: "btn btn-primary" %>
  </div>
<% end %>
