<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-right">
      <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
    </div>
  </div>
  <div class="row center-element">
    <div class="col-md-12 col-sm-12 margin-top">
      <h2>Boards</h2>
      <%= link_to new_board_path  do %>
        <i class="fa fa-plus-circle fa-3x"></i>
      <% end %>
    </div>
    <div class="col-md-12 col-sm-12">
      Novo board
    </div>
    <div class="row" style="margin-top: 2rem;">

      <% if @boards.empty? %>
        <h5 class="center-element margin-top">Não há boards para exibir.</h5>
      <% else %>

        <% @boards.each do |board| %>
          <div class="col-md-3 col-sm-12">
            <div class="card <%= board.color != 'light' ? 'text-white-no-background' : ''%> bg-<%= board.color %> mb-3">
              <div class="card-header">
                <%= link_to board.nome, board_path(board), class: board.color != 'dark' ? 'text-dark' : 'text-white-no-background' %>
              </div>
              <div class="card-body">
                <!--        <h5 class="card-title">Primary card title</h5>-->
                <p class="card-text"><%= board.descricao %></p>
                <%= link_to board_path(board), method: :delete, data: {confirm: 'Deseja realmente excluir este board com todas suas etapas e tarefas?'} do %>
                  <i class="fa fa-trash customLink"></i>
                <% end %>
                <span>&nbsp;</span>
                <%= link_to edit_board_path(board) do %>
                  <i class="fa fa-edit customLink"></i>
                <% end %>
              </div>
              <!--        <div class="card-footer"><%#= %>></div>-->
            </div>
          </div>
        <% end %>

      <% end %>
    </div>
  </div>
</div>
