<div class="container-fluid margin-top">
  <div class="row center-element">
    <div style="margin-left: 2rem;">
      <%= link_to 'Voltar', boards_path %>
    </div>
    <div class="col-md-12">
      <h2><%= @board.nome %></h2>
      <%= link_to new_etapa_path  do %>
        <i class="fa fa-plus-circle fa-3x"></i>
      <% end %>
    </div>
    <div class="col-md-12">
      Nova etapa
    </div>
  </div>
  <% if @etapas %>
    <div class="row flex-nowrap" style="margin-top: 2rem;">
      <% @etapas.each_with_index do |etapa, i| %>
        <div class="col-md-3 center-element" style="background-color: <%= i % 2 == 0 ? 'lightgray;' : 'lightslategray;' %>">

          <%= link_to edit_etapa_path(etapa), class: 'customLink' do %>
            <h5><%= etapa.nome %></h5>
          <% end %>

          <% etapa.tasks.order('created_at ASC').each do |task| %>
            <div class="card border-dark" style="margin-bottom: 1rem;">
              <div class="card-header">
                <h6><%= task.nome %></h6>
              </div>
              <div class="card-body d-flex flex-column">
                <div>
                  <p><%= task.descricao %></p>
                </div>
                <div class="mt-auto" style="text-align: right;">

                  <%= link_to task_path(task), method: :delete, data: {confirm: 'Deseja realmente excluir esta tarefa?'} do %>
                    <i class="fa fa-trash"></i>
                  <% end %>
                  <span>&nbsp;</span>
                  <%= link_to edit_task_path(task) do %>
                    <i class="fa fa-edit"></i>
                  <% end %>

                  <!--                    <a href="#"><i class="fa-trash"></i></a>-->
                </div>
              </div>
            </div>
          <% end %>
          <%= link_to new_task_path(etapa: etapa.id) do %>
            <i class="fa fa-plus-circle"></i>
            <span>Nova tarefa</span>
          <% end %>
        </div>
      <% end %>
  <% else %>
    <div class="row center-element">
      <div class="col-md-12 col-sm-12">
        <div class="margin-top">
          <h4>Sem etapas para exibir</h4>
        </div>
      </div>
    </div>

  <% end %>
  </div>
</div>