<%= form_with(model: etapa, local: true) do |form| %>
  <% if etapa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(etapa.errors.count, "error") %> prohibited this etapa from being saved:</h2>

      <ul>
        <% etapa.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :ordem %>
    <%= form.text_field :ordem, class: "form-control" %>
  </div>

  <div class="field d-none">
    <%= form.label :board_id %>
    <%= form.text_field :board_id, value: session[:user_board] %>
  </div>

  <div class="actions">
    <%= form.submit 'Salvar etapa', class: "btn btn-primary" %>
  </div>
<% end %>
