<p id="notice"><%= notice %></p>

<h1>Etapas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Board</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @etapas.each do |etapa| %>
      <tr>
        <td><%= etapa.nome %></td>
        <td><%= etapa.board_id %></td>
        <td><%= link_to 'Show', etapa %></td>
        <td><%= link_to 'Edit', edit_etapa_path(etapa) %></td>
        <td><%= link_to 'Destroy', etapa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Etapa', new_etapa_path %>
